* {padding:0; margin:0; box-sizing:border-box;}
body {background-color:#ccc;}
ul li {list-style:none;}
#header {position:relative; height:80px; background-color:#61d; width:auto;}
#header_content {z-index:1; background-color:inherit; position:relative; width:980px; margin:0 auto; height:100%;}
#header_content ul {position:absolute; right:0; bottom:5px;}
#header_content ul li {color:#fff; font-size:14px; float:left; margin-left:28px; width:auto;}
#header img {position:absolute; right:10px; bottom:0;}
#container {width:980px; margin:5px auto;}
#content {width:700px; float:left;}
#content_nav {overflow:hidden;}
#content_nav ul {overflow:hidden;}
#content_nav ul li {font-size:14px; padding:15px 20px 20px 20px; background-color:#fff; margin-right:1px; float:left; border-top:solid 2px #51c;}
#content_main {width:100%; height:auto; padding:18px 14px; background-color:#fff; margin-top:1px; overflow:hidden;}
#content_main ul {float:left;}
#content_main ul li {width:160px; margin:4px; background-color:#d5d;}
#content_main ul li img {width:100%;}
#content_main ul li div {position:relative;}
#content_main ul li div div {width:20%; position:absolute; top:10px; left:10px;}
#content_main ul li div h1{font-size:16px; color:#ccc; position:relative; left:20%;}
#content_main ul li div p {width:80%; font-size:14px; color:#aaa; position:relative; left:20%; padding:5px 5px 5px 0;}
#content_main ul li.bg_blue {background-color:#61c;}
#content_main ul li.bg_red {background-color:#f45;}
#show_more {width:100%; height:50px; text-align:center; padding-top:13px; background-color:#fff; margin:10px 0;}
#aside {margin-left:5px; margin-top:54px; width:175px; float:left;}
#aside #search {width:100%; height:80px; padding:20px; background-color:#fff;}
#aside #search div {width:100%; height:100%; border:1px solid #aaa;}
#aside #board {width:100%; height:200px; margin-top:5px; background-color:#fff; padding:20px 10px;}
#aside #board ul {margin-top:10px;}
#aside #board ul li span {display:inline-block; margin:2px 5px; width:20px; line-height:18px; height:14px; background-color:blue;}

.clearfix::after {content:'.'; height:0; visibility:hidden; display:block; clear:both;}